#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.box {
    max-width: 60px;
    height: 60px;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    padding: 5px;
    margin-bottom: 10px;
}

.answering-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}